body {

    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);

}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

form {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}